{% extends 'ToDoApp/base.html' %}


{% block title %}
Change Password
{% endblock title %}


{% block main-content %}


<div class="header-bar">
    <div class="row">
        <div class="col">
            <h1>Password Successfully Updated</h1>
        </div>
        <div>
            <h3>
                <a href="{% url 'login' %}">Click Here To Login</a>
            </h3>
        </div>
    </div>
</div>

<div class="card-body">
    <h3>Your Password Was Successfully Updated.....</h3>
    <h3>Thank You...</h3>
</div>


{% endblock main-content %}