{% extends 'ToDoApp/base.html' %}


{% block title %}
Registration
{% endblock title %}


{% block main-content %}


<div class="header-bar">
    <h1>Registration</h1>
</div>

<div class="card-body">
    <form action="" method="POST">
        {% csrf_token %}
        <label>
            {{form.username.label}}
            {{form.username}}
        </label>
        <label>
            {{form.password1.label}}
            {{form.password1}}
        </label>
        <label>
            {{form.password2.label}}
            {{form.password2}}
        </label>
        <input style="margin-top: 10px;" type="submit" class="button" value="Register">
    </form>
    <p>Already have an account ? <a href="{% url 'login' %}">Login</a></p>
</div>


{% endblock main-content %}