{% extends 'ToDoApp/base.html' %}


{% block title %}
Change Password
{% endblock title %}


{% block main-content %}


<div class="header-bar">
    <div class="row">
        <div class="col">
            <a href="{% url 'tasks' %}">&#8592; Back</a>
        </div>
        <div class="col">
            <h1>Change Password</h1>
        </div>
    </div>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label style="border: black;">
            {{form.as_p}}
        </label>
        <input style="margin-top: 10px;" type="submit" class="button" value="Submit">
    </form>
</div>


{% endblock main-content %}